<h1><%= @flat.name %></h1>
<br>
<br>
<p><%= @flat.address %></p>
<br>
<h6><%= @flat.description %></h6>
<br>
<h6><%= @flat.number_of_guests %></h6>
<br>
<h6><%= @flat.price_per_night %></h6>
<br>
<%= link_to "Back to list", flats_path %>
